*{
    margin: 0;
    padding: 0;

}
.nav{
    display: flex;
  
    font-size: 25px;
    justify-content: space-evenly;
    margin: 6px;
    padding: 5px;
    align-items: center;
    background: url("images/jewelry2.jfif");
    object-fit: cover;
    background-size: cover;
    background-position-x: center;
    background-position-y: 25%;
    border-radius: 20px;
    height: 16vh;
    transition: all 1s ease-in-out;
   
}
::-webkit-scrollbar{
background-color: purple;
width: 15px;

;
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border: 2px solid black;
    height: 3rem;
    margin: 5px;
    border-radius: 10px;
    
}
.s{
    border: 1px solid white;

    border-radius: 25px;
    padding: 5px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 5px;
    
    
}


.s:hover{
    padding: 3px;
    border-radius: 8px;
}

.a{
    color: black;
    background-color: white;

    border-radius: 5px;
    height: 30px;
    width: 100px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  
}
.a:hover{
    padding: 5px;
    text-decoration: underline;
    color: blue;
}
.nav h1{
    margin-left: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 60px;
   
}
.s{
    background: url("");
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
transition: all 1s ease-in-out;
}
.s:hover{

padding: 5px;

}
#bu1{
height: 50px;
 width: 100px;
    border-radius: 25px;
    background-color: black;
    box-shadow: 2px 3px 4px 5px black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    gap: 10%;
    transition: all 0.2s ease-in-out;
}
#bu1:hover{
    transform: translate(0%,8%);
    background-color: rgb(37, 175, 32);
    padding: 5px;
    text-decoration: underline;
}
#b{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#b:hover{
    padding: 5px;
    transform: translate(0%,12%);
    box-shadow: 2px 3px 4px 5px black;
    text-decoration: underline;

}
#bu2{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: black;
    color: white;
    box-shadow: 2px 3px 4px 5px black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.2s ease-in-out;
    
}
#bu2:hover{
    padding: 5px;
    transform: translate(0%,10%);
    text-decoration: underline;
    background-color: rgb(38, 164, 38);
    text-decoration: underline;
    
}
input{
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    border: 5px solid blue;
}

.main{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
   
}
#b1{
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    padding: 50px;
    display: flex;
    margin: 5px;
    height: 300px;  
    width: 200vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/The\ Home\ of\ Heritage.jfif");
    background-position-x: center;
    background-position-y: 38%;
    background-size: cover;
    justify-items: center;

    
}
#b2{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/bridal5.jfif");
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    justify-items: center;
}
#b3{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/earring.jfif");
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    justify-items: center;

}
#b4{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/earrings1.jfif");
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    justify-items: center;
}
#b5{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/bridal6.jfif");
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    justify-items: center;
}
#b6{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/bridal3.jfif");
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    justify-items: center;
}
#b7{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
   border-radius: 25px;
   border: 2px solid blue;
   background: url("images/download.jfif");
   background-position-x: center;
   background-position-y: 20%;
   background-size: cover;
   justify-items: center;
   
}
#b8{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/bridal2.jpg");
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    justify-items: center;
}
#b9{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/bridal4.jfif");
    background-position-x: center;
    background-position-y: 50%;
    background-size: cover;
    justify-items: center;
}
#b10{
    margin: 5px;
    padding: 3px;
    height: 40vh;  
    width: 30vh;
    border-radius: 25px;
    border: 2px solid blue;
    background: url("images/bridal.jfif");
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    justify-items: center;
}
.d2{
    background-color: black;
height: 100vh;
width: auto;
    color: white;
    display: flex;
    border-radius: 10px;
    margin: 15px;
gap: 20%;
justify-content: center;
    
    
}
.tc{
    height: 60vh;
    width: 200px;
    margin: 10px;
    padding: 10px;
    
}
#tc1{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 4px solid blue;
    border-radius: 25px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.2s ease-in-out;

}
#tc1:hover{
    background-color: black;
    color: red;
    box-shadow: 2px 2px 2px 2px blue;
    transform: translate(0%,4%);
}
.subscribe{
    height: 50vh;
    width: 200px;
    margin: 10px;
    padding: 10px;
}
.aff{
    height: 50vh;
    width: 200px;
    margin: 10px;
    padding: 10px;
}
#af{
    height: 50px;
    width: 100px;
    background-color: white;
    border: 4px solid blue;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
transition: all 0.2s ease-in-out;
    
}
#af:hover{
    background-color: black;
    color: red;
    box-shadow: 2px 2px 2px 2px blue;
    transform: translate(0%,4%);
}
#s{
    height: 50px;
    width: 120px;
    background-color: white;
    border: 4px solid blue;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
transition: all 0.2s ease-in-out;
}
#s:hover{
    background-color: black;
    color: red;
    box-shadow: 2px 2px 2px 2px blue;
    transform: translate(0%,4%);

}
#bb3{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
    
}
#bb3:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}
#bb4{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb4:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}

#bb5{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb4:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}
#bb5{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb5:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}
#bb6{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb6:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}
#bb7{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb7:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}
#bb8{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb8:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}
#bb9{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb9:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    color: blue;
    background-color: white;
    text-decoration: underline;
}
#bb10{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(116, 231, 116);
    font-size: 20px;
    margin-top: 107%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 3px 4px 5px black;
    transition: all 1s ease-in-out;
}
#bb10:hover{
    padding: 5px;
    box-shadow: 2px 3px 4px 5px black;
    transform: translate(0%,12%);
    text-decoration: underline;
    background-color: white;
    color: blue;
}
#t:hover{
    text-decoration: underline;
    color: blue;
}
.mar{
    display: flex;
    width: 800vh;
    height: auto;
}
#sp{
    height: 5vh;
    width: auto;
    font-size: 30px;
    color: black;
    background-color: rgba(128, 128, 128, 0.895);
}
#j{

    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
#j:hover{
    text-decoration: underline;
    color: blue;
}
#us:hover{
    text-decoration: underline;
    color: blue;
}
#img1{
    height: 50vh;
    width: auto;
    border-radius: 26px;
}
#img2{
    height: 50vh;
    width: auto;
    border-radius: 26px; 
}
#img3{
    height: 50vh;
    width: auto;
    border-radius: 26px;
}
#img4{
    height: 50vh;
    width: auto;
    border-radius: 26px;
}
#img5{
    height: 50vh;
    width: auto;
    border-radius: 26px;
}
#img6{
    height: 50vh;
    width: auto;
    border-radius: 26px;
}
#bb3{
    animation: b 2s ease-in-out infinite;
}
@keyframes b {
    0%{
        top: 20%;
        left: 15%;
        background-color: green;
    }
 25%{
        right: 20%;
        left: -3rem;
        background-color: purple;
    }
    50%{
        top: 5rem;
        left: 3rem;
        background-color: blue;
    }
    70%{
        left: 50px;
        bottom: 70px;
        background-color: aqua;
    }
    100%{
        right: 36px;
        top: 66px;
        background-color: gold;
    }
   }

   
    #bb4{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }
   
       #bb5{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }
  
       #bb6{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }
  
       #bb7{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }

       #bb8{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }

       #bb9{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }

       #bb10{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }

       #b{
        animation: b 2s ease-in-out infinite;
    }
    @keyframes b {
        0%{
            top: 20%;
            left: 15%;
            background-color: green;
        }
     25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
        100%{
            right: 36px;
            top: 66px;
            background-color: gold;
        }
       }

       #bu2{
        font-size: 26px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        animation: b 2s 0s infinite linear;
    }
    @keyframes b {
        0%{
           
            background-color: red;
        }
          25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
   
        100%{
          
            background-color: gold;
        }
       }
       #bu1{
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
        font-size: 25px;
        animation: bu 2s 0s infinite linear;
       }
       @keyframes bu {
        
        0%{
            background-color: red;
        }
          25%{
            right: 20%;
            left: -3rem;
            background-color: purple;
        }
        50%{
            top: 5rem;
            left: 3rem;
            background-color: blue;
        }
        70%{
            left: 50px;
            bottom: 70px;
            background-color: aqua;
        }
   
        100%{
          
            background-color: gold;
        }
       }
       #b2:hover{
        box-shadow: 3px 4px 5px 6px black;
padding: 20px;
}

#b3:hover{
    box-shadow: 3px 4px 5px 6px black;
    padding: 20px;

}
#b4:hover{
    box-shadow: 3px 4px 5px 6px black;
    padding: 20px;

}
#b5:hover{
    box-shadow: 3px 4px 5px 6px black;
    padding: 20px;

}
#b6:hover{
    box-shadow: 3px 4px 5px 6px black;
    padding: 20px;

}
#b7:hover{
        box-shadow: 3px 4px 5px 6px black;
        padding: 20px;
    
    }
    #b8:hover{
        box-shadow: 3px 4px 5px 6px black;
        padding: 20px;
    
    }
#b9:hover{
        box-shadow: 3px 4px 5px 6px black;
        padding: 20px;
    
}   
#b10:hover{
    box-shadow: 3px 4px 5px 6px black;
    padding: 20px;

}
.d2:hover{
margin: 25px;
box-shadow: 3px 4px 5px 6px black;
border-radius: 10px;
padding: 20px;
}